.header-main{
    height: 4em;
    width: 100%;
    background-color: pink;

}

.header-logo img{
    object-fit: contain;
    height: 100%;
    width: 4em;
}รง

.header-side-menu{
    background-color: pink;
    width: 10em;
}