* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    background: #2d2d2d;
    color: #ccc;
    padding-top: 40px;
}

/* ZONA SUPERIOR */
.footer-top {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 40px;
    flex-wrap: nowrap;
}

.footer-top>div {
    flex: 1; /* cada columna ocupa el mismo ancho */
    min-width: 180px;
}


.footer-top h3 {
    color: #02d5ff;
    margin-bottom: 15px;
}


/* MAPA */
.footer-map iframe {
    border-radius: 6px;
}

/* EMPRESA */
.footer-company {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-company p {
    margin: 5px 0;
}


/* CONTACTO */
.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-contact p {
    margin: 5px 0;
}


/* ZONA INFERIOR */
.footer-legal {
    text-align: center;
    padding: 15px;
    background: #1f1f1f;
}

.footer-social {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.social-item img {
    width: 24px;
    height: 24px;
}


/* RESPONSIVE MOVIL*/
@media (max-width: 768px) {
    .footer-top {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-social {
        align-items: center;
    }
}