*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    background: #2d2d2d;
    color: #ccc;
    padding-top: 40px;
}

/* NUEVA ZONA SUPERIOR */
.footer-top {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 40px;
}

.footer-top h3 {
    color: #02d5ff;
    margin-bottom: 15px;
}


/* MAPA */
.footer-map iframe {
    border-radius: 6px;
}

/* EMPRESA */
.footer-company {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer-company p {
    margin: 5px 0;
}


/* CONTACTO */
.footer-contact{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer-contact p {
    margin: 5px 0;
}


/* ZONA INFERIOR */
.footer-legal {
    text-align: center;
    padding: 15px;
    background: #1f1f1f;
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px 0;
}

.footer-links {
    text-align: center;
    padding-bottom: 20px;
}
.footer-links a {
    color: #ccc;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.2s;
}
.footer-links a:hover {
    color: #f4b400;
}   

.social-item img {
    width: 24px;
    height: 24px;
    filter: invert(100%) sepia(100%) grayscale(100%) brightness(100%);
    transition: filter 0.2s;
}
.social-item img:hover {
    filter: invert(100%) sepia(100%) grayscale(100%) brightness(200%);
}

/* RESPONSIVE MOVIL*/
@media (max-width: 768px) {
    .footer-top {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
}


