.privacy{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.privacy h1 {
    color: #000000;
    margin-bottom: 20px;
}

.privacy p {
    max-width: 800px;
    text-align: center;
    line-height: 1.6;
    color: #000000;
    margin-bottom: 15px;
}